<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>Photos | Troop 832</title>
</head>

<body>

  <section ng-view></section>

  <h1>BSA TROOP 832</h1>

  <ul>
    <li><a href="/">ABOUT US</a></li>
		<li><a href="#">ANNOUNCEMENTS AND STORIES</a></li>
		<li><a href="/members">TROOP 832 MEMBERS</a></li>
		<li><a href="#">CALENDAR SCHEDULE</a></li>
		<li><a href="/photos">PHOTO ARCHIVE</a></li>
		<li><a href="/contact">CONTACT US</a></li>
	</ul>

  <div class="bod">
  <div id="title">
  <h1>Photo Archive</h1>
    <div class="bar"></div>
    <p>
      A picture is worth a thousand words! Click the links  below to see what Troop 832 has been up doing!
    </p>
  </div>
    <div id="photos">
   <div class="outingPics">
     <a href=""><img src="" class="pic"></a>
     <p><a href=""><strong>Outing Name MM.DD-DD.YYYY</strong></a></p>
    </div>
    <div class="outingPics">
     <a href=""><img src="" class="pic"></a>
     <p><a href=""><strong>Outing Name MM.DD-DD.YYYY</strong></a></p>
    </div>
    <div class="outingPics">
     <a href=""><img src="" class="pic"></a>
     <p><a href=""><strong>Outing Name MM.DD-DD.YYYY</strong></a></p>
    </div>
    <div class="outingPics">
     <a href=""><img src="" class="pic"></a>
     <p><a href=""><strong>Outing Name MM.DD-DD.YYYY</strong></a></p>
    </div>
    <div class="outingPics">
     <a href=""><img src="" class="pic"></a>
     <p><a href=""><strong>Outing Name MM.DD-DD.YYYY</strong></a></p>
    </div>
    <div class="outingPics">
     <a href=""><img src="" class="pic"></a>
     <p><a href=""><strong>Outing Name MM.DD-DD.YYYY</strong></a></p>
    </div>
    </div>
  </div>
</body>
