
body {font-family: Verdana,sans-serif;}
body {
font-family: helvetica;
text-align: center;
margin: 0 auto;
}
h1 {
font-size: 70px;

}


#title {
font-family:'Roboto', sans-serif;
font-size: 50px;
letter-spacing: 10px;
margin-top: 75px;
}

.slideshow-container {
margin: 0 auto;
width: 1600px;
}

.calendar {
position: relative;
margin-left: 5%;
margin-bottom: 5%;
top: 50px;
font-family:'Roboto', sans-serif;

box-sizing:border-box;
}

.month {
  padding: 50px 25px;
  width: 95%;
  background: rgb(72,72,72);
  box-sizing:border-box;
}

.month ul {
  padding: 5px;
  background: rgb(72,72,72);

  box-sizing:border-box;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;

  box-sizing:border-box;
}

.month .prev {
  float: left;
  padding-top: 10px;

  box-sizing:border-box;
}

.month .next {
  float: right;
  padding-top: 10px;
  box-sizing:border-box;
}


.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  width: 95%;
  box-sizing:border-box;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: left;
  box-sizing:border-box;

}

p {
padding: 5px;
text-align: justify;
position: absolute;
bottom: 0;
margin: 0;
height: 78%;
width: 95%;
font-size: 18px;
line-height: 19px;
box-sizing:border-box;
/*border: solid red 1px;*/
transition: height .5s;
-webkit-transition: height .5s;
-moz-transition: height .5s;
}
small {
font-size: 13px;
opacity: 1;
}

.show p {
height: 20%;
/*border: solid red 1px;*/
}

.show p:hover {
color: rgba(50,55,137,.6);
}

.show small {
opacity: 0;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 95%;
  box-sizing:border-box;
}


.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: left;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  height: 150px;
  position: relative;
  font-family: helvetica;
  box-sizing:border-box;
}



#lol {
  position: absolute;
  bottom: 0;
  font-size: 25px;
}

#otherMonth {
color: rgba(0,0,0,.3);
}


@media (max-width: 500px) {
    body {
      background: rgba(30,20,20,1);
      color:white;
    }
    h1 {
      font-size: 36px;
    }
    li {
      display: block;
      padding: 5px;
    }
  }


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
