<section ng-controller=ExampleController>
  <article id="title">
		<h1>About Troop 832</h1>
		<p>
			A scout is never taken by surprise; he knows exactly what to do when anything happens.
		</p>
	</article>

	<div class="bar"></div>
	<article class="bod">
		<h2>Our Goal</h2>
		<p>
			Our goal is to provide an environment that challenges our Scouts both mentally and physically,
			instilling the core values of the Scout Law and Code. Scouts in Troop 832 are no strangers to
			independent achievement and growth thanks to our myriad of activities, bimonthly meetings, and
			advancement ceremonies. Troop 832 is dedicated to moulding the leaders of tomorrow through promoting
			discipline, creating independend individuals, and forming positive bonds that will last a lifetime.
		</p>
	</article>

	<article class="bod">
		<h2>History</h2>
		<p>
			Our troop, founded in 2013 at the Church of the Good Shepherd in Arcadia, CA, arose with the same
			principles as the first Boy Scouts in 1908. Formerly Troop 138, our troop was built with one goal
			in mind: to transform today's ordinary teenagers into tomorrow's leaders. We stand today, striving
			to uphold the values established by Sir Baden-Powell
		</p>
	</article>
</section>
