
<head>
  <script src="../../lib/jquery/dist/jquery.min.js"></script>
</head>

<body>

<h1 id="title">Calendar Schedule</h1>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">JANUARY 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
  <li id="otherMonth">5</li>
  <li id="otherMonth">6</li>
</ul>
</div>
</div>

<div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">FEBRUARY 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
  <li id="otherMonth">5</li>
</ul>
</div>
</div>

<div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">MARCH 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">APRIL 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">MAY 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">JUNE 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">JULY 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li id="otherMonth">1 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li id="otherMonth">2 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li id="otherMonth">3 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li id="otherMonth">4 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li id="otherMonth">5 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li id="otherMonth">6 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">AUGUST 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">31 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li >1 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div>
        </li>
  <li>2 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li>3 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li>4 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li>5 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li>6 <div class="dank show"><p>Summer Camp<br><small class="show">Week-long camp at Emerald Bay in the Catalina Islands</small></p></div></li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">SEPTEMBER 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li id="otherMonth">1</li>
</ul>
</div>
</div>
  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">OCTOBER 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">25</li>
  <li id="otherMonth">26</li>
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
  <li id="otherMonth">5</li>
</ul>
</div>
</div>


  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">NOVEMBER 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">DECEMBER 2016</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
</ul>
</div>
</div>
  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">JANUARY 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">FEBRARY 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">MARCH 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">26</li>
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">APRIL 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">26</li>
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
  <li id="otherMonth">5</li>
  <li id="otherMonth">6</li>
</ul>
</div>
</div>


  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">MAY 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">30</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">JUNE 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li id="otherMonth">1</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">JULY 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">25</li>
  <li id="otherMonth">26</li>
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
  <li id="otherMonth">3</li>
  <li id="otherMonth">4</li>
  <li id="otherMonth">5</li>
</ul>
</div>
</div>


  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">AUGUST 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li id="otherMonth">1</li>
  <li id="otherMonth">2</li>
</ul>
</div>
</div>

  <div class="mySlides fade">
  <div class = "calendar">
<div class="month">
  <ul>
    <li ><a class="prev" onclick="plusSlides(-1)">❮</a></li>
    <li><a class="next" onclick="plusSlides(1)">❯</a></li>
    <li style="text-align:center">
      <a href="#">SEPTEMBER 2017</a>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Su</li>
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
</ul>

<ul class="days">
  <li id="otherMonth">27</li>
  <li id="otherMonth">28</li>
  <li id="otherMonth">29</li>
  <li id="otherMonth">30</li>
  <li id="otherMonth">31</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
</ul>
</div>
</div>

</div>
  <script>

  $('.dank').on('click', function() {
    $(this).toggleClass('show');
  });


var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}


function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

  </script>
</body>
