<article class="bod">
  <div id="title">
    <h1>Contact Us</h1>
    <h2>We want to hear from you!</h2>
  </div>

  <div class="bar"></div>

  <article>
    <img src="" class="profile">
    <div class="people">
      <strong>Kyle Li</strong> <br />
      <small class="info">
        Senior Patrol Leader<br />
        Phone: 000 000 0000<br />
        Email: KyleLi@email.com
      </small>
    </div>
  </article>

  <article>
    <img src="" class="profile">
    <div class="people">
      <strong>Michael Li</strong> <br />
      <small class="info">
        Scoutmaster<br />
        Phone: 000 000 0000<br />
        Email: MichaelLi@email.com
      </small>
    </div>
  </article>

  <article>
    <img src="" class="profile">
    <div class="people">
      <strong>First lastName</strong> <br />
      <small class="info">
        Chairperson<br />
        Phone: 000 000 0000<br />
        Email: Chairperson@email.com
      </small>
    </div>
  </article>
</article>
